.ui-datatable {
    margin: 0 0 10px;
}

.headerTitle {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
}

.filter {
    background: #ebedf0;
    padding: .6rem 0;
    margin: 0 0 .6rem;
    border-bottom: solid 1px #ccc;
    width: 100%;

    .sr-only {
        position: static; 
        width: 70px;
        height: auto;
        padding: 0; 
        margin: -1px;
        font-weight: bold;
    }

    .sel {
        width: 150px;
    }
}